.tab-inside {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.main-content {
    width: 82%;
    display: flex;
    flex-direction: column;
    background-color: #D0D0D0;
    background-color: #FEFBF6;
    margin-left: 23%
}
.main-content>div>h2 {
    padding-left: 2%;

}

.tech-stack-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 5px;
    margin-left: 16px;
}

.tech-stack-list>* {
    border: solid 0.8px #838080;
    padding: 5px;
    border-radius: 5%;
}

.tech-stack-list>*:hover {
    border-color: rgb(218, 115, 115);
}

@media (max-width: 768px) {
    .tech-stack-list {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
    .main-content {
        width: 80%;
    }
}